*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
:root {
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 24px;
}
.page {
  padding-left: var(--space-4);
  padding-right: var(--space-4);
}
